In [5]:
# task1
mynames = ["Joe", "Zoe", "world", "Brad", "Angelina", "world", "Zuki", "Tom", "Paris", "world", "magic"]
if 'usa' in  mynames:
    print("True")
else:
    print("False")

False

In [39]:
# task2
mynames = ["Joe", "Zoe", "world", "Brad", "Angelina", "world", "Zuki", "Tom", "Paris", "world", "magic"]
count=0
for i in mynames:

    if i=="world":
        count+=1
print(f"the number of times world is present is:",{count})

the number of times world is present is: {3}

In [55]:
# task3
numlist=list(range(1,30))
count_even=0
count_odd=0

for i in numlist:
    if i%2==0:
        count_even+=1
    else:
        count_odd+=1
print(f"the total numbers of even numbers are:{count_even} and total numbers of odd numbers are:{count_odd}")

the total numbers of even numbers are:14 and total numbers of odd numbers are:15

In [69]:
# task4
numlist=list(range(1,30))

el=[]

count=0

for i in numlist:
    if i %2==0:
        count+=1
        el.append(i)
    if count==5:
        break
print(el)

[2, 4, 6, 8, 10]

In [91]:
# task5
numlist=list(range(1,30))
count=0

for i in range(29,1,-1):
    if i %2!=0:
        print(i)
        count+=1
    if count==2:
        break

29
27

In [141]:
# task6
x=[]
y=[]

for i in range(1,6):
    string=input("enter a name:")
    x.append(string)

for j in range(1,4):
    num=int(input("enter a number:"))
    y.append(num)

x.extend(y)

print(x)

enter a name: hridhthik
enter a name: jaya
enter a name: barth
enter a name: shiva
enter a name: gayu
enter a number: 1
enter a number: 2
enter a number: 3

['hridhthik', 'jaya', 'barth', 'shiva', 'gayu', 1, 2, 3]

In [145]:
# task7
list_a=[]
list_b=[]

for i in range(1,10):
    sqrt=i*i
    list_a.append(sqrt)
for j in range(30,40):
    sqrt=j*j
    list_b.append(sqrt)
print(list_a)
print(list_b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521]

In [147]:
# task8
user=int(input("enter a number"))
for i in range(1,11):
    print(user,'*',i,'=',user*i)

enter a number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50