In [9]:
# task1:

# a

rollno=290
print(rollno)
print(id(rollno))
print(type(rollno))
# interpretation
# The variable rollno is assigned an integer value.
# The print(rollno) statement shows the value stored in rollno, which is 290.
# The id() function returns a unique identifier for the object 290, and print(id(rollno)) outputs this identifier (memory location).
# The type() function shows that rollno is of type int, and print(type(rollno)) confirms it as an integer.

290
2610309871280
<class 'int'>

In [11]:
# b

firstname='hridhthik'
print(firstname)
print(id(firstname))
print(type(firstname))

# interpretation
# The variable firstname is assigned the string 'hridhthik'.
# The print(firstname) statement displays the string value, which is 'hridhthik'.
# The id() function is used to return a unique identifier (memory address) for the string object 'hridhthik', and print(id(firstname)) outputs this memory location.
# The type() function shows that the data type of firstname is a string (str), confirmed by print(type(firstname)).

hridhthik
2610287027632
<class 'str'>

In [7]:
# c

lastname='premkumar'
print(lastname)
print(id(lastname))
print(type(lastname))

# interpretation
# The variable lastname is assigned the string 'premkumar'.
# The print(lastname) statement displays the string value, which is 'premkumar'.
# The id() function returns a unique identifier (memory address) for the string object 'premkumar', and print(id(lastname)) outputs this memory location.
# The type() function shows that the data type of lastname is a string (str), confirmed by print(type(lastname)).

premkumar
1855564462832
<class 'str'>

In [11]:
# d

maxmarks=50
print(maxmarks)
print(type(maxmarks))
print(id(maxmarks))

#interpretation
# The variable maxmarks is assigned the integer value 50.
# The print(maxmarks) statement displays the value, which is 50.
# The type() function confirms that maxmarks is of type int (integer), as seen in print(type(maxmarks)).
# The id() function outputs the memory location where the object 50 is stored in memory, which is shown by print(id(maxmarks)).

50
<class 'int'>
140730341015512

In [13]:
# task2
# a
var1=2
print(var1)
# interpretation
# The variable var1 is assigned the integer value 2.
# The print(var1) statement outputs the value of var1, which is 2.

2

In [15]:
# b
2var=2
print(2var) 
# Variable Naming Rules in Python:
# Variables must start with a letter (a-z, A-Z) or an underscore (_).
# Variables cannot start with a digit (0-9).
# After the first letter or underscore, a variable name can contain letters, digits, or underscores.

SyntaxError: invalid decimal literal (506859380.py, line 1)

In [17]:
# c
var 1=2
print(var 1)
# var 1 = 2: This line attempts to assign the integer value 2 to a variable, but the variable name contains a space (var 1). Variable names in Python cannot contain spaces, and this will cause a syntax error.

# print(var 1): This line tries to print the value of var 1, but because of the invalid variable name (with a space), this will also trigger a syntax error.

SyntaxError: invalid syntax (1140940718.py, line 1)

In [19]:
# d
    var$2=2
    print(var$2)
# var$2 = 2: This line tries to assign the integer value 2 to the variable var$2, but variable names in Python cannot contain special characters like $. This will cause a syntax error.
# print(var$2): Since the variable name is invalid due to the $ symbol, Python will not execute this line and will raise an error at the variable declaration.

SyntaxError: invalid syntax (1981766040.py, line 1)

In [23]:
# task3
# a

Class=15
print(Class)

# The line Class = 15 assigns the integer value 15 to the variable named Class. 
# In Python, variable names are case-sensitive, so Class is distinct from the keyword class.
# The line print(Class) outputs the value of the variable Class to the console. Since Class holds the value 15, this will print 15.

15

In [13]:
# b


class=15
print(class)

# interpretation
# The line class = 15 attempts to assign the integer value 15 to a variable named class.
# However, class is a reserved keyword in Python, used to define classes.
# Therefore, this line will raise a SyntaxError because you cannot use a reserved keyword as a variable name.
# The line print(class) tries to print the value of the variable class.
# Since the assignment in the previous line is invalid, this line will also not be executed due to the error.

SyntaxError: invalid syntax (3576368909.py, line 4)

In [19]:
# c
DEF=13
print(DEF)

# interpretation
# The line DEF = 13 assigns the integer value 13 to the variable named DEF. 
# In Python, variable names are case-sensitive, meaning that DEF is different from def, which is a reserved keyword used to define functions.
# The line print(DEF) outputs the value of the variable DEF to the console. Since DEF holds the value 13, this will print 13.

13

In [ ]:
# d
def=13
print(def)

# interpretation
# The line def = 13 attempts to assign the integer value 13 to the variable named def. 
# However, def is a reserved keyword in Python, used to define functions. 
# Using a reserved keyword as a variable name is not allowed and will raise a SyntaxError.
# The line print(def) tries to print the value of the variable def.
# Since the assignment in the previous line is invalid, this line will also not be executed due to the error.

In [23]:
# e
a=TRUE
print(a)
# interpretation
# The line a = TRUE attempts to assign the value TRUE to the variable a.
# However, TRUE is not recognized as a valid boolean value in Python. 
# In Python, the correct boolean values are True (with a capital "T") and False (with a capital "F"). 
# Therefore, using TRUE will raise a NameError because it has not been defined or recognized.
# The line print(a) tries to print the value of a. 
# Since the assignment in the previous line is invalid, this line will also not be executed, and the program will raise an error before reaching this point.

NameError: name 'TRUE' is not defined

In [35]:
# f
b=false
print(b)
# interpretation
# The line b = false attempts to assign the value false to the variable b.
# However, false (all lowercase) is not recognized as a valid boolean value in Python. 
# In Python, the correct boolean values are True (with a capital "T") and False (with a capital "F"). 
# Therefore, using false will raise a NameError because it has not been defined or recognized.
# The line print(b) tries to print the value of b. 
# Since the assignment in the previous line is invalid, this line will also not be executed, and the program will raise an error before reaching this point.

NameError: name 'false' is not defined

In [37]:
# task4
# a
marks=66.5

print(marks)
print(type(marks))
print(id(marks))
# interpretation
# The code assigns the floating-point value 66.5 to the variable marks.
# It prints the value of marks, confirms its data type as float, and displays its memory address.

66.5
<class 'float'>
1855532248944

In [27]:
# b
marks=89.8
print(marks)
print(type(marks))
print(id(marks))
# interpretation
# The code assigns the floating-point value 89.8 to the variable marks.
# It prints the value of marks, confirms its data type as float, and displays its memory address in memory.

89.8
<class 'float'>
2610287350160

In [ ]:
# c

# Each time a new value is assigned to a variable in Python, a new object is created in memory. 
# In the previous examples, the variable marks was assigned two different floating-point values (66.5 and 89.8). 
# This means that two distinct float objects are created in memory.

# The id() function in Python returns the memory address of the object. 
# Since marks holds different values in the last two questions, calling id(marks) for each case will yield different results, reflecting the different memory addresses of the two float objects.

In [29]:
# task5
# a
maxmarks=100
print((marks / maxmarks) * 100, '%')

# interpretation
# Assignment: maxmarks is set to 100.
# Percentage Calculation: (marks / maxmarks) * 100 calculates the percentage of marks relative to maxmarks.
# Output: The result is printed alongside a percentage sign.

89.8 %

In [61]:
# b

fullname=firstname+' '+lastname
print(fullname)
# interpretation
# The line fullname = firstname + ' ' + lastname concatenates the variables firstname and lastname with a space in between.
# This means that the value of fullname will be a single string that combines both names. 
# For example, if firstname is "John" and lastname is "Doe", then fullname will be "John Doe".

hridhthik prem

In [63]:
# c
print(fullname,'scored',marks,'%')
# interpretation
# Output Statement: This line constructs a message that includes the variable fullname, the string 'scored', the variable marks, and the string '%'.
# Concatenation: The print() function will output all these elements separated by spaces.

hridhthik prem scored 89.8 %

In [31]:
# task6
# a
print(1+'2')
# interpretation
# : The code attempts to add an integer (1) and a string ('2').
# In Python, the + operator is used for both arithmetic addition and string concatenation.
# Since the two operands are of different types (an integer and a string), Python does not know how to perform this operation.
# Specifically, you cannot directly add an integer and a string together.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [67]:
# b
print('1'+'2')

# interpretation
#String Concatenation: The code uses the + operator to concatenate two strings: '1' and '2'. 
# In Python, the + operator, when applied to strings, combines them into a single string.
# Result: The operation '1' + '2' results in the string '12'.
# Output Statement: The print() function outputs the concatenated result to the console.

12

In [69]:
# c
print(1/2)

# Division Operation: The code performs a division operation where 1 (the numerator) is divided by 2 (the denominator). 
# In Python, the / operator always performs floating-point division.
# Result: The result of the operation 1 / 2 is 0.5, which is a floating-point number.
# Output Statement: The print() function outputs the result of the division to the console.

0.5

In [71]:
# d
print(1//2)
# it returns a whole number and perform arithemetc operations

0

In [73]:
# task7
# a
print(True and True)
# interpretation
# Logical Operation: The code uses the and logical operator to evaluate the expression True and True.
# The and operator returns True if both operands are True; otherwise, it returns False.
# Result: Since both operands are True, the expression evaluates to True.
# Output Statement: The print() function outputs the result of the logical operation to the console.

True

In [77]:
# b
print(True and False)

# interpretation
# Logical Operation: The code uses the and logical operator to evaluate the expression True and False.

# The and operator returns True only if both operands are True. If either operand is False, the result is False.
# Result: Since the second operand is False, the entire expression evaluates to False.

# Output Statement: The print() function outputs the result of the logical operation to the console.

False

In [79]:
# c
print(False or True)
# interpretation
# Logical Operation: The code uses the or logical operator to evaluate the expression False or True.

# The or operator returns True if at least one of the operands is True. If both operands are False, it returns False.
# Result: Since the second operand is True, the entire expression evaluates to True.

# Output Statement: The print() function outputs the result of the logical operation to the console.

True

In [81]:
# d
print(False or False)
# interpretation
# Logical Operation: The code uses the or logical operator to evaluate the expression False or False.

# The or operator returns True if at least one of the operands is True. If both operands are False, it returns False.
# Result: Since both operands are False, the entire expression evaluates to False.

# Output Statement: The print() function outputs the result of the logical operation to the console.

False

In [83]:
# task8
# a
print(firstname in fullname)
# interpretation
# Membership Test: The code uses the in operator to check if the string stored in the variable firstname is a substring of the string stored in the variable fullname.

# The in operator returns True if the left operand (in this case, firstname) is found within the right operand (fullname), and False otherwise.
# Result: If firstname is part of fullname, the expression evaluates to True; if it is not, it evaluates to False.

# Output Statement: The print() function outputs the result of the membership test to the console.

True

In [85]:
print(firstname is fullname)

# interpretation
# Identity Test: The code uses the is operator to check whether the variables firstname and fullname refer to the same object in memory.

# The is operator returns True if both operands point to the same object (i.e., have the same identity) and False otherwise.
# Result:

# In most cases, firstname and fullname will contain different strings (e.g., firstname could be "hridhthik" and fullname could be "hridhthik premkumar"). Hence, they will not be the same object in memory.
# Output Statement: The print() function outputs the result of the identity test to the console.

False

In [87]:
a=4
b=3
c=2
d=a**b+c
e=a**(b+c)

# a
print(d)
# b
print(e)

# c

# Value of d: 66
# Value of e: 1024
# Reason for Difference: The calculations for d and e are based on different expressions, resulting in different values.

66
1024