In [3]:
# task1 factorial of a number:
user=int(input("enter a number:"))
i=1
fact=1
while(i<=user):
    fact=fact*i
    i+=1
print('factorial of a number are:',fact)

enter a number: 5

factorial of a number are: 120

In [14]:
# task2 check a number it is a prime or not
num=int(input("enter a number:"))
i=
count=0
while(i<=n):
    if n%i==0:
        count+=1
    i+=1
if count==2:
    print('it is prime')
else:
    print('it is not a prime')

enter a number: 50

it is not a prime

In [24]:

# for i in range(1,100):
#     count=0
#     for j in range(1,i+i):
#         if i%j==0:
#             count+=1
#     if count==2:
#         print(i,'prime')

2 prime
3 prime
5 prime
7 prime
11 prime
13 prime
17 prime
19 prime
23 prime
29 prime
31 prime
37 prime
41 prime
43 prime
47 prime
53 prime
59 prime
61 prime
67 prime
71 prime
73 prime
79 prime
83 prime
89 prime
97 prime

In [21]:
# task3
user=int(input("enter the number:"))
sum=0
temp=user
while(temp>0):
    digit=temp%10
    sum=sum+digit
    temp=temp//10
print(sum)

enter the number: 12345

15

In [25]:
# task4:
user =int(input("enter a number:"))
i=1
num1=0
num2=1

while(i<=user):
    print(num1,end=" ")
    num3=num1+num2
    num1=num2
    num2=num3
    
    i+=1

enter a number: 7

0 1 1 2 3 5 8

In [37]:
# task5:
t1=(1,2,3)
t2=(4,5,6)
print(id(t1))
print(id(t2))
t1=t1+t2
print(t1)
print(id(t1))
print(id(t2))
# Initially, t1 and t2 are separate tuples stored at different memory addresses.
# After concatenation, a new tuple is created and assigned to t1. This new tuple has a different memory address than the original t1, because tuples are immutable and concatenation results in a new object.
# The tuple t2 remains unchanged and retains the same memory address.
# This shows how Python handles tuple immutability by creating new objects rather than modifying existing ones in place.

2589264515264
2589264285312
(1, 2, 3, 4, 5, 6)
2589264333696
2589264285312

In [3]:
# task6
m={10,20,30,40,50}
n=[33,40,55,60,70]

for i in n:
    m.add(i)
print(m)

# explanation:
# The code essentially merges the elements from the list n into the set m, ensuring all elements remain unique.
# The result is a set of distinct numbers after combining both collections

{70, 10, 20, 30, 33, 40, 50, 55, 60}

In [35]:
# task7

data_Set={'python':1,'data':2,'Excel':3,'Sql':4}

for key,value in data_Set.items():
    if value%2==0:
        print(key,":",value)

data : 2
Sql : 4

In [33]:
data_Set={'python':1,'data':2,'Excel':3,'Sql':4}
i=0
for key,value in data_Set.items():
    print(key,value)

python 1
data 2
Excel 3
Sql 4

In [49]:
# task8
d={}
for key in range(1,16):
    d.update({key:key*key})
print(d)
d.update({10:1000})
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 1000, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}